<html>
<head>
<meta charset="UTF-8">
<title>Wahlpaka</title>
<link rel="stylesheet" href="{{ url_for('static' , filename='mystyle.css')}}">
</head>

<body>
<div id="title-frame">
    <h1 align="center">WAHL-P-AKA</h1>
	<br/>
	<h2 align="center">--Wer vertritt deine Interessen?--</h2>
</div>
<h2 align="center">Kreuze die Themen an, die dich interessieren: </h2>
<div id="question-start">

<div id="rows">
	<input type="checkbox" id="check_1">
	<label for="check_1" id="cool-label">Umwelt</label>
	
</div>
<div id="rows">
	<input type="checkbox" id="check_2">
	<label for="check_2" id="cool-label">Wirtschaft</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_3">
	<label for="check_3" id="cool-label">Außenpolitik</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_4">
	<label for="check_4" id="cool-label">Bildung</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_5">
	<label for="check_5" id="cool-label">blabla</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_6">
	<label for="check_6" id="cool-label">Dummie 1</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_7">
	<label for="check_7" id="cool-label">Dummie 2</label>
</div>

<div id="rows">
    <input type="checkbox" id="check_8">
	<label for="check_8" id="cool-label">Dummie 3</label>
</div>
<div id="rows">
    <input type="submit" value="Eingabe!" id="submit-button">
</div>
</body>


</html>