<html>
	<head>
		<meta charset="UTF-8">
		<title>Wahlpaka - Fragen</title>
		<link rel="stylesheet" href="https://static.labcode.de/fonts/roboto/roboto.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
	</head>
	<body>
		<div id="title-frame">
			<h1 align="center">WAHL-P-AKA</h1>
			<br/>
			<h2 align="center">--Wer vertritt deine Interessen?--</h2>
		</div>
		<br/>
		<br/>
		<form action="{{ url_for('result_site') }}" method="post">
			{% for question in questions %}
			<div class="question">
				<div style="max-width: 50%; margin: auto;">
					<h2 align="center">{{ question.title }}</h2>
					<details align="center">
						<summary>Details</summary>
						{{ question.abstract|safe }}
					</details>
					<br/>
					<div id="options-group" data-toggle="buttons" align="center">
						<label class="btn btn-primary active">
							<input type="radio" name="radio_{{ question.id }}" value="yes"> Dem stimme ich zu.
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="radio_{{ question.id }}" value="no"> Dem stimme ich nicht zu.
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="radio_{{ question.id }}" value="abstain"> Ich weiß nicht.
						</label>
						<br>
					</div>
					<br/>
					<br/>
				</div>
			</div>
			{% endfor %}
			<div style="text-align: center; margin-top: 15px;">
				<input type="submit" value="Eingabe!" id="submit-button">
			</div>
		</form>
	</body>
</html>
